<div class="container">
  <div class="no-room">
    <div class="have-key">
      Already have a key? Join the room:
      <input type="text" #keyInput />
      <button type="submit" (click)="joinRoom(keyInput.value)">Join</button>
    </div>
    <div class="or"><p>---Or---</p></div>
    <div class="new-room">
      <button type="button"><span>Create a new Room</span></button>
    </div>
  </div>
  <div class="room" *ngIf="isRoomReady">
    <table>
      <thead>
        <th>Name</th>
        <th>Has Voted</th>
        <th>Point</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.hasVoted }}</td>
          <td>{{ user.point }}</td>
        </tr>
      </tbody>
    </table>

    <input type="text" placeholder="Name" #name />
    <button type="submit" (click)="addUser(name.value)">Add User</button>
    <input type="number" placeholder="Story Points" #points />
    <button type="submit" (click)="submit(name.value, points.value)">
      Submit Points
    </button>
    <br />
    <button type="submit" (click)="createSession()">Create Session</button>
    <label>{{ sessionId }}</label>
  </div>
</div>
