
$primary: rgb(231, 228, 235);

.container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

header {
    background: $primary;
    padding: 1em 0;
    margin: 4px 8px;
    box-shadow: 3px 6px 7px -3px #ccc;
    -webkit-box-shadow: 3px 6px 7px -3px #ccc;
    a {
        color: rgba(27, 25, 25, 0.479);
        text-decoration: none;
    }
    a.logo {
        font-weight: bold;
    }

    nav {
        float: right;
        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;

                &:hover {
                    transition: all 0.5s;
                    color: rgb(0, 0, 0);
                    border-radius: 4px;
                    background: darken($primary, 10%);
                }
            }
        }
    }
}

h1 {
    margin-top: 2em;
}