@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');


body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
    height: calc(100vh - 60px);
}