@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');


body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
    height: calc(100vh - 60px);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.bottomSheet{
    width: 750px;
    .mat-bottom-sheet-container-large{
        min-width: 700px;
    }
  }

.toast-class{
    background-color: rgba(220, 234, 238, 0.856);
    height: fit-content;
}