<!-- <div class="container">
  <div class="heading">
    <h1>Planning Tool (key: {{ sessionId }} )</h1>
    <button class="formatbtn exit" (click)="exitToMainPage()">Exit</button>
  </div>
  <div class="story">
    <textarea
      class="story-text"
      placeholder="Story Description.."
      [value]="storyText"
      #story
      (change)="updateStory(story.value)"
      (keypress)="updateStory(story.value)"
    ></textarea>
  </div>
  <div class="card-container">
    <div>
      <button class="formatbtn votes-button" (click)="showPoints()">
        Show Votes
      </button>
    </div>
    <div
      class="card"
      *ngFor="let user of users"
      [ngClass]="user.hasVoted ? 'has-voted' : ''"
    >
      <p class="name">{{ user.name }}</p>
      <p *ngIf="displayPoints" class="point">{{ user.point }}</p>
    </div>
  </div>
  <div class="voting-section">
    <div class="actions">
      <span>
        <input
          type="text"
          placeholder="Enter name to enable voting"
          #name
          [readonly]="hasUserDetails"
        />
        <button
          type="submit"
          *ngIf="!hasUserDetails"
          class="formatbtn add-user"
          (click)="addUser(name.value)"
        >
          Add User
        </button>
      </span>
      <span>
        <button type="submit" class="formatbtn" (click)="nextStory()">
          <span>Next Story</span>
        </button>
      </span>
    </div>
    <div class="point-container">
      <button
        *ngFor="let point of allowedPoints"
        (click)="selectPoint(point)"
        [ngClass]="isSelected(point)"
        [disabled]="!hasUserDetails"
      >
        <p class="name">{{ point }}</p>
      </button>
    </div>
  </div>
</div> -->

<div class="poker-room">
  <div class="room-section">
    <h1>Number: 1234536789kljhasd</h1>
  </div>
  <div class="story-section">
    <mat-form-field class="story-input">
      <mat-label>Story:</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
      ></textarea>
    </mat-form-field>
    <button mat-raised-button class="next-story-btn">Next Story</button>
  </div>
  <div class="voters-section">
    <mat-card class="voter-cards" *ngFor="let user of defaultUser">
      <mat-card-title class="voter-name">{{ user.name }}</mat-card-title>
      <mat-card-content class="voter-points">{{ user.point }}</mat-card-content>
      <mat-card-actions class="voter-card-actions">
        <button disabled mat-raised-button>Make Manager</button>
        <button disabled mat-raised-button color="warn">Remove</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="points-section">
    <mat-card class="point-cards" *ngFor="let point of allowedPoints">
      <mat-card-content class="point-value">{{ point }}</mat-card-content>
    </mat-card>
  </div>
</div>
