<div class="container">
  <div class="heading">
    <h1>Planning Tool (key: {{ sessionId }} )</h1>
    <button class="formatbtn exit" (click)="exitToMainPage()">Exit</button>
  </div>
  <div class="story">
    <textarea
      class="story-text"
      placeholder="Story Description.."
      [value]="storyText"
      #story
      (change)="updateStory(story.value)"
      (keypress)="updateStory(story.value)"
    ></textarea>
  </div>
  <div class="card-container">
    <div>
      <button class="formatbtn votes-button" (click)="showPoints()">
        <span>Show Votes</span>
      </button>
    </div>
    <div
      class="card"
      *ngFor="let user of users"
      [ngClass]="user.hasVoted ? 'has-voted' : ''"
    >
      <p class="name">{{ user.name }}</p>
      <p *ngIf="displayPoints" class="point">{{ user.point }}</p>
    </div>
  </div>
  <div class="voting-section">
    <div class="actions">
      <span>
        <input
          type="text"
          placeholder="Enter name to enable voting"
          #name
          [readonly]="hasUserDetails"
        />
        <button
          type="submit"
          *ngIf="!hasUserDetails"
          class="formatbtn add-user"
          (click)="addUser(name.value)"
        >
          Add User
        </button>
      </span>
      <span>
        <button type="submit" class="formatbtn" (click)="nextStory()">
          <span>Next Story</span>
        </button>
      </span>
    </div>
    <div class="point-container">
      <button
        *ngFor="let point of allowedPoints"
        (click)="selectPoint(point)"
        [ngClass]="isSelected(point)"
        [disabled]="!hasUserDetails"
      >
        <p class="name">{{ point }}</p>
      </button>
    </div>
  </div>
</div>
