.user-details-div {
  top: 25%;
  position: absolute;
  padding: 10% 15%;
  background-color: rgba(170, 185, 190, 0.082);
  box-shadow: 3px 6px 7px 3px rgb(75, 70, 70);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 50%;
  width: 75%;
  max-height: 300px;
  box-sizing: border-box;
  .checkbox{
    margin-bottom: 16px;
  }
}
.room-options-btn {
  position: fixed;
  right: 2%;
  bottom: 2%;
  background-color: rgba(63, 63, 100, 0.315);
  box-shadow: 3px 6px 7px -3px rgb(97, 91, 91);
}
.poker-room {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  .story-section {
    flex: 20%;
    display: flex;
    box-shadow: 3px 6px 7px 3px #ccc;
    padding: 2%;
    .story-input {
      align-self: center;
      flex: 85%;
      font-size: 24px;
      margin-right: 2%;
    }
    .next-story-btn {
      height: 35%;
      align-self: center;
      background-color: rgba(242, 243, 246, 0.281);
      &:hover {
        background-color: darken(
          $color: rgba(242, 243, 246, 0.281),
          $amount: 10
        );
      }
    }
  }
  .voters-section {
    flex: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 3px 6px 7px 3px #ccc;
    padding: 2%;
    justify-content: center;
    .show-votes-btn {
      position: fixed;
      left: 3%;
      top: 50%;
      background-color: rgba(135, 222, 142, 0.349);
      box-shadow: 3px 6px 7px -3px rgb(97, 91, 91);
    }
    .voter-div{
      display: flex;
      margin: 16px;
    }
    .voter-cards {
      display: flex;
      flex-direction: column;
      margin: 0.5%;

      max-height: 100%;
      align-self: center;
      .voter-name {
        flex: 10%;
        align-self: center;
      }
      .voter-points {
        flex: 80%;
        font-size: 64px;
        align-self: center;
        margin-top: 20%;
        margin-bottom: 20%;
      }
      .voter-card-actions {
        display: flex;
        flex: 10%;
        align-self: center;
      }
    }
  }
  .points-section {
    flex: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2%;
    box-shadow: 3px 6px 7px 3px #ccc;
    .point-cards {
      display: flex;
      margin: 0.5%;
      flex: 1 1 auto;
      justify-content: center;
      min-height: 80px;
      cursor: pointer;
      box-shadow: 3px 6px 7px 3px #ccc;
      transition: all 0.5s;
      &:hover {
        background-color: rgba(192, 224, 224, 0.335);
        box-shadow: 3px 6px 7px 3px rgb(97, 91, 91);
      }
      .point-value {
        align-self: center;
        font-size: 64px;
      }
    }
  }
}
.voter-card-green {
  background-color: rgba(156, 233, 160, 0.397);
}
.voter-card-red {
  background-color: rgba(233, 174, 156, 0.397);
}
.point-cards-selected {
  background-color: rgba(118, 139, 139, 0.335);
  box-shadow: 3px 6px 7px 3px rgb(75, 70, 70) !important;
}
.waiting-txt{
  font-size: 36px;
  padding: 16px;
}