// .container {
//   display: flex;
//   flex-direction: column;
//   text-align: center;
//   position: relative;
//   min-height: calc(100vh - 65px);
//   height: 100%;
//   .heading{
//     display: flex;
//     h1{
//       flex: 90%;
//     }
//   }

//   h1 {
//     position: relative;
//   }
//   .story {
//     border-radius: 8px;
//     border: 4px double #9797c3fa;
//     margin-bottom: 24px;
//     outline: none;
//     .story-text {
//       box-sizing: border-box;
//       border: none;
//       font-family: dejavu sans mono, droid sans mono, consolas, monaco,
//         lucida console, courier new, courier, monospace, sans-serif;
//       resize: none;
//       height: 100%;
//       width: 100%;
//       padding: 16px;
//       padding-left: 32px;
//       color: #000000;
//       font-size: 32px;
//     }
//   }
//   .card-container {
//     display: flex;
//     flex-wrap: wrap;
//     position: relative;
//     align-content: center;
//   }
//   .card {
//     align-self: center;
//     position: relative;
//     margin: 16px;
//     padding: 60px 24px;
//     box-sizing: border-box;
//     max-width: 140px;
//     flex: 100%;
//     text-align: center;
//     font-family: dejavu sans mono, droid sans mono, consolas, monaco,
//       lucida console, courier new, courier, monospace, sans-serif;
//     border-radius: 8px;
//     border: 4px double #6b3632a4;
//     background-color: rgba(255, 0, 0, 0.383);
//     color: #000000;
//     outline: none;
//     transition: all 0.5s;
//     .point {
//       font-size: 36px;
//       margin: 0px;
//     }
//     .name {
//       font-size: 24px;
//     }
//   }
//   .has-voted {
//     border: 4px double #0c4b0aed;
//     background-color: rgba(109, 248, 116, 0.383);
//   }

//   .voting-section {
//     display: flex;
//     flex-direction: column;
//     flex: 100%;
//     margin: 24px 0px;
//     padding: 24px;
//     border: 4px double #6b3632a4;
//     .point-container{
//         display: flex;
//         flex-direction: row;
//         flex-wrap: wrap;
//       .point{
//         border: 4px double #6b3632a4;
//         background-color: rgba(231, 223, 223, 0.383);
//         transition: 0.3s;
//         &:hover{
//           padding: 72px 24px;
//           background-color: rgba(20, 241, 57, 0.383);
//         }
//       }
//       .disabled{
//         border: 4px double #383737a4;
//         background-color: rgba(116, 116, 116, 0.383);
//         color: #696464;
//       }
//       .isSelected{
//         padding: 72px 24px;
//         background-color: rgba(20, 241, 57, 0.383);
//       }
//     }
//   }
// }

// .formatbtn {
//   position: relative;
//   display: inline-block;
//   background-color: #7b38d8;
//   border-radius: 8px;
//   border: 1px double #cccccc;
//   color: #eeeeee;
//   text-align: center;
//   font-size: 16px;
//   padding: 12px;
//   transition: all 0.5s;
//   cursor: pointer;
//   margin: 5px;

//   span {
//     cursor: pointer;
//     display: inline-block;
//     position: relative;
//     transition: 0.5s;
//   }
//   span:after {
//     content: "\00bb";
//     position: absolute;
//     opacity: 0;
//     top: 0;
//     right: -20px;
//     transition: 0.5s;
//   }
//   &:hover {
//     background-color: #34165d;
//   }
//   &:hover span {
//     padding-right: 25px;
//   }
//   &:hover span:after {
//     opacity: 1;
//     right: 0;
//   }
// }
// .votes-button{
//   top: 35%;
// }
// .exit{
//   height: 90%;
//   top: 20px;
//   background-color: rgba(83, 4, 4, 0.486);
//   &:hover {
//     background-color: #9b0606;
//   }
// }
// .actions{
//   display: flex;
//   margin: 2%;
//   span{
//     flex: 100%;
//   }
//   input{
//     margin:8px;
//     font-size: 24px;
//     font-family: inherit;
//     padding:4px;
//   }
//   .add-user{
//     background-color: green;
//   }
// }

.poker-room {
  display: flex;
  flex-direction: column;
  
  width: 100%;
  height: 90%;
  .room-section{
    flex: 10%;
    display: flex;
    box-shadow: 3px 6px 7px 3px #ccc;
    padding: 2%;
  }
  .story-section {
    flex: 20%;
    display: flex;
    box-shadow: 3px 6px 7px 3px #ccc;
    padding: 2%;
    .story-input {
      align-self: center;
      flex: 85%;
      font-size: 24px;
      margin-right: 2%;
    }
    .next-story-btn {
      height: 35%;
      align-self: center;
      background-color: rgba(242, 243, 246, 0.281);
      &:hover {
        background-color: darken(
          $color: rgba(242, 243, 246, 0.281),
          $amount: 10
        );
      }
    }
  }
  .voters-section {
    flex: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 3px 6px 7px 3px #ccc;
    padding: 2%;
    .voter-cards {
      display: flex;
      flex-direction: column;
      margin: 0.5%;
      background-color: rgba(243, 189, 187, 0.472);
      max-height: 50%;
      .voter-name {
        flex: 10%;
        align-self: center;
      }
      .voter-points {
        flex: 80%;
        font-size: 64px;
        align-self: center;
        margin-top: 20%;
        margin-bottom: 20%;
      }
      .voter-card-actions {
        flex: 10%;
        align-self: center;
      }
    }
  }
  .points-section {
    flex: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2%;
    box-shadow: 3px 6px 7px 3px #ccc;
    .point-cards {
      display: flex;
      margin: 0.5%;
      flex: 1 1 auto;
      justify-content: center;
      min-height: 80px;
      cursor: pointer;
      transition: all 0.5s;
      &:hover{
        background-color: rgba(192, 224, 224, 0.335);
        box-shadow: 3px 6px 7px -3px rgb(97, 91, 91);
      }
      .point-value {
        align-self: center;
        font-size: 64px;
      }
    }
  }
}
